

/* div { border: 1px solid blue; } */
body {
	font-family: 'Open Sans', sans-serif;
	font-size:14px;
	background: lightgrey;
	padding: 0;
	margin: 0;
	width: 100%;
}
div {
	padding: 0;
	margin: 0;
}
h1 {
	font-size: 20px;
	font-weight: 600;
	padding: 5px;
}
h2 {
	font-size: 16px;
	font-weight: 600;
	padding: 5px;
}
h3 {
	font-size: 14px;
	font-weight: 600;
	padding: 5px;
}
.ptr {
	cursor: pointer;
}

/* page */
.fullwidth {
    width: 568px !important;
}
.fullheight {
    height: 1024px !important;
}
.fixed {
	position: fixed !important;
	top: 0 !important;
}
#page {
    margin-left: auto;
    margin-right: auto;
	background: white;
}

/* toolbar */
#fixedbar {
	background: #4A8AF4;
	box-shadow: 0px 4px 3px rgba(0, 0, 0, 0.15);
	position: fixed;
	top: 0;
	z-index: 2;
}
#controls {
	padding-top:12px;
	padding-bottom:12px;
	height:24px;
}
.ctrl {
	font-size: 16px;
	height:24px;
}
.ctrl > img {
	height:24px;
}
#trays {
	margin-top:0px;
	margin-bottom:3px;
}
.third {
	vertical-align: middle;
    display: inline-block;
    width: 32%;
    text-align: center;
}
.quarter {
	vertical-align: middle;
    display: inline-block;
    width: 24%;
    text-align: center;
}
.fifth {
	vertical-align: middle;
    display: inline-block;
    width: 19%;
    text-align: center;
}
div.tray {
	height: 32px;
}
img.tray {
	height: 32px;
}
span.tray {
	display: block;
	font-size: 12px;
	font-weight: 600;
}
.badge {
  background: #BA070F;
  color: #fff;
  padding: 1px 7px;
  position: absolute;
  z-index: 2;
  border-radius: 1em;
  /* border: 1px solid #fff; */
  min-height:18px;
}

/* content */
.belowcontrols {
	margin-top: 40px;
}
.belowtrays {
	margin-top: 95px;
}
#heading {
    width: 100%;
}
#content {
	padding-top:5px;
    width: 100%;
	height: 100%;
}

/* menus */
#clickoutside {
	z-index: 3;
	background: black;
	opacity: 0.4;
}
.closebtn {
	cursor: pointer;
	position:absolute;
	right:0;
	padding:10px;
}
#lesscommon {
	z-index: 4;
	background: white;
	box-shadow: 0px 4px 3px rgba(0, 0, 0, 0.15);
}
#lesscommon > p {
	color: -webkit-link;
	cursor: pointer;
	padding: 10px;
	padding-left: 20px;
	font-size: 18px;
}
#lesscommon > p > a {
	text-decoration: none;
}
#sharemenu {
	z-index: 4;
	background: white;
	box-shadow: 0px 4px 3px rgba(0, 0, 0, 0.15);
}
div.shareicon {
	padding-bottom: 20px;
}
img.shareicon {
	max-width: 80%;
}

/* swiper */
.swiper-container {
}
.swiper-wrapper {
	width: 100%;
}
.swiper-slide {
	/* Specify Slide's Size: */
	width: 100%;
}
