

/* div { border: 1px solid blue; } */
body {
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	background: lightgrey;
	padding: 0;
	margin: 0;
	width: 100%;
}
div {
	padding: 0;
	margin: 0;
}
h1 {
	font-size: 20px;
	font-weight: 600;
	padding: 5px;
}
h2 {
	font-size: 16px;
	font-weight: 600;
	padding: 5px;
}
h3 {
	font-size: 14px;
	font-weight: 600;
	padding: 5px;
}
.ptr {
	cursor: pointer;
}

/* page */
.fullwidth {
    width: 568px !important;
}
.fullheight {
    height: 100% !important;
}
.fixed {
	position: fixed !important;
	top: 0 !important;
}
.bottom {
	position: fixed !important;
	bottom: 0 !important;
}
.right {
	position: fixed !important;
	right: 0 !important;
}
#page {
    margin-left: auto;
    margin-right: auto;
	background: white;
}

/* toolbar */
#fixedbar {
	background: #4A8AF4;
	box-shadow: 0px 4px 3px rgba(0, 0, 0, 0.15);
	position: fixed;
	top: 0;
	z-index: 2;
}
#controls {
	height:48px;
}
.ctrl {
	padding-top: 12px;
	padding-bottom: 12px;
	font-size: 16px;
	height: 24px;
}
.ctrl > img {
	height: 24px;
}
#trays {
	margin-top: 0px;
	margin-bottom: 3px;
}
.half {
	vertical-align: middle;
    display: inline-block;
    width: 49%;
    text-align: center;
}
.third {
	vertical-align: middle;
    display: inline-block;
    width: 32%;
    text-align: center;
}
.quarter {
	vertical-align: middle;
    display: inline-block;
    width: 24%;
    text-align: center;
}
.fifth {
	vertical-align: middle;
    display: inline-block;
    width: 19%;
    text-align: center;
}
div.tray {
	height: 32px;
}
img.tray {
	height: 32px;
}
span.tray {
	display: block;
	font-size: 12px;
	font-weight: 600;
}
.badge {
	background: #BA070F;
	color: #fff;
	padding: 1px 7px;
	position: absolute;
	z-index: 2;
	border-radius: 1em;
	/* border: 1px solid #fff; */
	min-height: 18px;
}

/* content */
.belowcontrols {
	margin-top: 40px;
}
.belowtrays {
	margin-top: 95px;
}
#heading {
    width: 100%;
}
#content {
	padding-top: 5px;
    width: 100%;
	height: 100%;
}

/* menus */
.overlay {
	z-index: 99;
	background-color: rgba(0,0,0,0.6);
	color: white;
}
.overlayclose {
	position:      absolute;
	right:         0;
	padding-right: 5%;
	padding-top:   5%;
}
#overlay1a {
	display:        block;
	width:          65%;
	text-align:     right;
	vertical-align: middle;
	padding-top:    24px;
}
#overlay2a {
	display:     block;
	padding-top: 96px;
}
div.overlay2a {
	text-align: left;
}
div.overlay2a > img {
	padding-left: 25%;
}
div.overlay2a > div {
	padding-left: 10%;
}
span.overlay_emph {
	font-weight:     600;
	text-decoration: underline;
}
#clickoutside {
	z-index:    3;
	background: black;
	opacity:    0.4;
}
.closebtn {
	cursor:   pointer;
	position: absolute;
	right:    0;
	padding:  10px;
}
#lesscommon {
	z-index: 4;
	background: white;
	box-shadow: 0px 4px 3px rgba(0, 0, 0, 0.15);
}
#lesscommon > p {
	color: -webkit-link;
	cursor: pointer;
	padding: 10px;
	padding-left: 20px;
	font-size: 18px;
}
#lesscommon > p > a {
	text-decoration: none;
}
#sharemenu {
	z-index: 4;
	background: white;
	box-shadow: 0px 4px 3px rgba(0, 0, 0, 0.15);
}
div.shareicon {
	padding-bottom: 20px;
}
img.shareicon {
	max-width: 80%;
}
#snackbar {
	padding-top: 18px;
	padding-bottom: 18px;
	/*
	padding-left: 24px;
	padding-right: 24px;
	*/
	font-weight: 600;
	background: rgba(0,0,0, 0.8);
	color: white;
	z-index: 100;
}
#snackbarmsg {
	float: left;
	margin-left: 24px;
}
#snackbaraction {
	float: right;
	margin-left: 24px;
	margin-right: 24px;
	cursor: pointer;
	color: red;
}

/* swiper */
.swiper-container {
}
.swiper-wrapper {
	width: 100%;
}
.swiper-slide {
	/* Specify Slide's Size: */
	width: 100%;
}

/* animations */
.flyerholder {
	position: fixed;
	z-index: 1000;
	height: 32px;
}
.flyer {
	opacity: 0;
	position: relative;
    width: 32px;
    height: 32px;
 	color: yellow;
	background: white;
	z-index: 1000;
}
.flyright {
    -webkit-animation: anim_right 400ms linear 0s 1 forwards; /* Chrome, Safari, Opera */
    animation: anim_right 400ms linear 0s 1 forwards;
}
/* Chrome, Safari, Opera */
@-webkit-keyframes anim_right {
    0%   {opacity: 1; left: 0px; }
    50%  {opacity: 1; left: 50%; }
    100% {opacity: 0; left: 100%; }
}
/* Standard syntax */
@keyframes anim_right {
    0%   {opacity: 1; left: 0px; }
    50%  {opacity: 1; left: 50%; }
    100% {opacity: 0; left: 100%; }
}
